<div class="row" id="filters">
  <div class="button-bar">
    <ul class="button-group round" ng-class="{filtering: included('arch')}">
      <li ng-repeat="arch in archs">
	<a class="small button" ng-click="toggleFilter('arch', arch)"
	  ng-class="{pressed: included('arch', arch)}">{{arch}}</a>
      </li>
    </ul>
    <ul class="button-group round" ng-class="{filtering: included('license')}">
      <li ng-repeat="license in licenses">
	<a class="small button" ng-click="toggleFilter('license', license)"
	  ng-class="{pressed: included('license', license)}">{{license}}</a>
      </li>
    </ul>
    <ul class="button-group round" ng-class="{filtering: included('version')}">
      <li ng-repeat="version in versions">
	<a class="small button" ng-click="toggleFilter('version', version)"
	  ng-class="{pressed: included('version', version)}">{{version}}</a>
      </li>
    </ul>
    <ul class="button-group round" ng-class="{filtering: included('os')}">
      <li ng-repeat="os in oss">
	<a class="small button" ng-click="toggleFilter('os', os)"
	  ng-class="{pressed: included('os', os)}">{{os}}</a>
      </li>
    </ul>
    <ul class="button-group round" ng-class="{filtering: included('toy') || included('_toy')}">
      <li>
	<a class="small button" ng-click="toggleFlag('_toy')"
	  ng-class="{pressed: included('_toy')}">toybuilds</a>
      </li>
      <li ng-repeat="toy in unless(included('_toy'), toys)">
	<a class="small button" ng-click="toggleFilter('toy', toy)"
	  ng-class="{pressed: included('toy', toy)}">{{toy}}</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <ul class="button-group round">
    <li>
    <a class="small button" ng-disabled="pos == 0" ng-click="prev()">
      <i class="icon-chevron-left"></i>
    </a>
    </li>
    <li>
    <a class="small button" disabled>
      Page {{pos / pagesize + 1}}
    </a>
    </li>
    <li>
    <a class="small button" ng-disabled="builds.length == 0" ng-click="next()">
      <i class="icon-chevron-right"></i>
    </a>
    </li>
  </ul>
</div>

<div class="row" ng-show="comparisonA">
  <a class="button tiny round alert" ng-click="cancelCompare()">
    <i class="icon-exchange"></i> Cancel Compare</a>
</div>
<div class="row builditem" ng-repeat="build in builds">
  <div class="small-8 columns">
    <a class="button tiny round secondary" ng-click="compareA(build)"
      ng-hide="comparisonA"><i class="icon-exchange"></i></a>
    <a class="button tiny round alert" ng-click="compareB(build)"
      ng-show="comparisonA && comparisonA != build"><i class="icon-arrow-right"></i></a>
    <span ng-show="comparisonA == build">Compare </span>
    <a href="#/buildinfo/{{build.filename}}" class="buildlink">
      <strong>{{build.fullversion}} {{build.license}} ({{build.os}}, {{build.arch}}),
	<em ng-show="build.toy">{{build.toy}}'s toy build</em></strong></a>
    uploaded {{build.date | relDate}}
  </div>
  <div class="small-4 columns">
    <ul class="button-group radius">
      <li>
	<a class="button small success dlbtn"
	  href="/get/{{build.filename}}">Download {{build.ext}} ({{build.size | bytes}})</a>
      </li>
      <li>
	<a class="button small"
	  href="/manifest/{{build.filename}}"><i class="icon-book"></i></a>
      </li>
    </ul>
  </div>
</div>
