<div class="row" id="filters">
  <div class="button-bar">
    <ul class="button-group round" ng-class="{filtering: included('arch')}">
      <li ng-repeat="arch in archs">
	<a class="small button" ng-click="toggleFilter('arch', arch)"
	  ng-class="{pressed: included('arch', arch)}">{{arch}}</a>
      </li>
    </ul>
    <ul class="button-group round" ng-class="{filtering: included('license')}">
      <li ng-repeat="license in licenses">
	<a class="small button" ng-click="toggleFilter('license', license)"
	  ng-class="{pressed: included('license', license)}">{{license}}</a>
      </li>
    </ul>
    <ul class="button-group round" ng-class="{filtering: included('version')}">
      <li ng-repeat="version in versions">
	<a class="small button" ng-click="toggleFilter('version', version)"
	  ng-class="{pressed: included('version', version)}">{{version}}</a>
      </li>
    </ul>
    <ul class="button-group round" ng-class="{filtering: included('ext')}">
      <li ng-repeat="ext in exts">
	<a class="small button" ng-click="toggleFilter('ext', ext)"
	  ng-class="{pressed: included('ext', ext)}">{{ext}}</a>
      </li>
    </ul>
    <ul class="button-group round" ng-class="{filtering: included('toy') || included('_toy')}">
      <li>
	<a class="small button" ng-click="toggleFlag('_toy')"
	  ng-class="{pressed: included('_toy')}">toybuilds</a>
      </li>
      <li ng-repeat="toy in unless(included('_toy'), toys)">
	<a class="small button" ng-click="toggleFilter('toy', toy)"
	  ng-class="{pressed: included('toy', toy)}">{{toy}}</a>
      </li>
    </ul>
  </div>
</div>
<div class="row" ng-show="comparisonA">
  <a class="button tiny round alert" ng-click="cancelCompare()">
    <i class="icon-exchange"></i> Cancel Compare</a>
</div>
<div class="row builditem" ng-repeat="build in filtered(builds)">
  <div class="small-10 columns">
    <a class="button tiny round secondary" ng-click="compareA(build)"
      ng-hide="comparisonA"><i class="icon-exchange"></i></a>
    <a class="button tiny round alert" ng-click="compareB(build)"
      ng-show="comparisonA && comparisonA != build"><i class="icon-arrow-right"></i></a>
    <span ng-show="comparisonA == build">Compare </span>
    <a href="#/buildinfo/{{build.filename}}" class="buildlink">
      <strong>{{build.fullversion}} {{build.license}} ({{build.ext}} {{build.arch}}),
	<em ng-show="build.toy">{{build.toy}}'s toy build</em></strong></a>
    uploaded {{build.date | relDate}}
  </div>
  <div class="small-2 columns">
    <a class="button small radius success"
      href="/get/{{build.filename}}">Download {{build.ext}} ({{build.size | bytes}})</a>
  </div>
</div>
