<div class="row">
  <h2 ng-hide="diff"><i class="icon-cog icon-spin"></i> Comparing Builds</h2>
  <div ng-hide="diff">
    <div ng-include="'/partials/gitstatus.html'"></div>
  </div>
  <div ng-bind-html-unsafe="error.data"></div>
  <div ng-show="diff">
    <div ng-show="diff.projectsonlya">
      <h4>Projects only in {{builda}}</h4>
      <ul class="inline-list">
	<li ng-repeat="p in diff.projectsonlya"><strong>{{p}}</strong></li>
      </ul>
    </div>
    <div ng-show="diff.projectsonlyb">
      <h4>Projects only in {{buildb}}</h4>
      <ul class="inline-list">
	<li ng-repeat="p in diff.projectsonlyb"><strong>{{p}}</strong></li>
      </ul>
    </div>
    <h2 ng-show="diff.empty">No git differences between common projects in these builds.</h2>
    <h3 ng-hide="diff.empty">Projects in common</h3>
    <ul ng-hide="diff.empty">
      <li ng-repeat="comparison in diff.compared">
	<h4>{{comparison.name}}</h4>
	<div ng-show="comparison.onlya[0]">
	  <p>Commits only in <strong class="bg-color-a">{{builda}}</strong>
	    <ul>
	      <li ng-repeat="commit in comparison.onlya">
		<i>{{commit.commitTime * 1000 | calDate}}</i>
		<img class="gravatar" src="http://www.gravatar.com/avatar/{{commit.author.gravatar}}?s=16"><b>{{commit.author.name}}</b> &ndash;
		<span class="under-a">{{commit.shortMessage}}</span>
		<a class="additional" href="{{commit.gerriturl}}" ng-show="commit.gerriturl">gerrit</a>
	      </li>
	    </ul>
	  </p>
	</div>
	<div ng-show="comparison.onlyb[0]">
	  <p>Commits only in <strong class="bg-color-b">{{buildb}}</strong>
	    <ul>
	      <li ng-repeat="commit in comparison.onlyb">
		<i>{{commit.commitTime * 1000 | calDate}}</i>
		<img class="gravatar" src="http://www.gravatar.com/avatar/{{commit.author.gravatar}}?s=16"><b>{{commit.author.name}}</b> &ndash;
		<span class="under-b">{{commit.shortMessage}}</span>
		<a class="additional" href="{{commit.gerriturl}}" ng-show="commit.gerriturl">gerrit</a>
	      </li>
	    </ul>
	  </p>
	</div>
      </li>
    </ul>
  </div>
</div>
