
.filtering .button {
    background-color: #777777;
    color: #ddd;
}

.filtering .pressed {
    background-color: #22a481;
    color: #fff;
}

.buildlink {
    color: #000;
}

.buildlink:hover {
    color: #000
    text-decoration: underline;
}

.gravatar {
    display: inline;
    margin-right: .5em;
    margin-left: .5em;
}

.additional {
    margin-left: 10px;
    font-weight: bold;
    text-decoration: underline;
}


